body, html {
	height: 100%;
}

.top-bar {
	padding-top: 0px;
	padding-bottom: 0px;
	display: flex;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
}

.menu {
color: rgb(19, 20, 58);
	font-family: 'Julius Sans One', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.hero-section {
  background: url("/assets/3space.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	-webkit-align-items: center;
  	-ms-flex-align: center;
    	align-items: center;
  -webkit-justify-content: center;
    -ms-flex-pack: center;
    	justify-content: center;
}

.hero-section .hero-section-text {
  color: #cacaca;
	text-shadow: 4px 4px 4px #0a0a0a;
}

.hero-section-text {
	font-family: 'Orbitron', sans-serif;
}

.hero-section-text > h5 {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
	text-shadow: 4px 4px 4px #0a0a0a;;
}

.line {
	height: 5px;
	background: #cacaca;
	margin-bottom: 16px;
	box-shadow: 4px 4px 4px #0a0a0a;;
}
/* font-family: 'Bungee Hairline', cursive; */
/* font-family: 'Julius Sans One', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */