body, html {
	height: 100%;
}

.top-bar {
	padding-top: 0px;
	padding-bottom: 0px;
	display: flex;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
}

.menu {
	color: rgb(19, 20, 58);
	font-family: 'Bungee Hairline', cursive;
	font-size: 25px;
	font-weight: bold;
}

.hero-section {
  background: url("/assets/blue-space.png") no-repeat;
  background-size: cover;
  height: 94.5vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	-webkit-align-items: center;
  	-ms-flex-align: center;
    	align-items: center;
  -webkit-justify-content: center;
    -ms-flex-pack: center;
    	justify-content: center;
}

.hero-section .hero-section-text {
  color: #cacaca;
	text-shadow: 2px 2px 2px #0a0a0a;
}

.hero-section-text > h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 40px;
	font-weight: bold; 
}

.hero-section-text > h5 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: x-large;
	font-weight: bold;
}

.line {
	height: 5px;
	background: #cacaca;
	margin-bottom: 16px;
	box-shadow: 2px 2px 2px #0a0a0a;;
}

.aboutme {
	background-color: rgba(57, 80, 110, 0.7);
	font-family: 'Julius Sans One', sans-serif;
	color: white;
	margin-left: 100px;
	margin-right: 100px;
	text-shadow: 3px 3px 3px #0a0a0a;
}

.aboutme > h5 {
	font-family: 'Bungee Hairline', cursive;
}

.aboutme > p {
	font-family: 'Julius Sans One', sans-serif;
}

@media only screen and (max-width: 600px) {
  .aboutme {
    margin-left: 20px;
		margin-right: 20px;
  }
}

.resume {
	color: black;
	font-weight: bold;
	text-decoration: underline;
	text-shadow: none;
}
/* font-family: 'Bungee Hairline', cursive; */
/* font-family: 'Julius Sans One', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */