body, html {
	height: 100%;
}

.top-bar {
	padding-top: 0px;
	padding-bottom: 0px;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.menu {
	color: rgb(19, 20, 58);
	font-family: 'Bungee Hairline', cursive;
	font-size: 25px;
	font-weight: bold;
}

.hero-section {
	background: url("/assets/blue-space.png") no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.hero-section .hero-section-text {
	color: #cacaca;
	text-shadow: 2px 2px 2px #0a0a0a;
}

.main-section {
	background: url("/assets/blue-space.png") no-repeat;
	background-size: cover;
	/* height: 100vh; */
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 30px;
}

.hero-section-text>h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

.hero-section-text>h5 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: x-large;
	font-weight: bold;
}

.line {
	height: 5px;
	background: #cacaca;
	margin-bottom: 16px;
	box-shadow: 2px 2px 2px #0a0a0a;
	;
}

.aboutme {
	background-color: rgba(57, 80, 110, 0.7);
	font-family: 'Julius Sans One', sans-serif;
	color: white;
	margin-left: 100px;
	margin-right: 100px;
	text-shadow: 3px 3px 3px #0a0a0a;
}

.aboutme>h5 {
	font-family: 'Bungee Hairline', cursive;
	font-size: xx-large;
}

.aboutme>p {
	font-family: 'Julius Sans One', sans-serif;
}

@media only screen and (max-width: 600px) {
	.aboutme {
		margin-left: 20px;
		margin-right: 20px;
	}
}

.resume {
	color: black;
	font-weight: bold;
	text-decoration: underline;
	text-shadow: none;
	font-size: x-large;
	padding: 5px;
}

.contact-links {
	background-color: rgba(57, 80, 110, 0.7);
	font-family: 'Julius Sans One', sans-serif;
	color: white;
	margin-left: 100px;
	margin-right: 100px;
	/* height: 75%; */
	/* width: 50%; */
	padding-bottom: 60px;
	text-shadow: 3px 3px 3px #0a0a0a;
	display: inline-grid;
}

.contact-links>.textarea {
	font-family: 'Julius Sans One', sans-serif;
}

.grid-container {
	margin-top: 10px;
}

.card {
	border: solid white 3px;
	padding: 5px;
}

.card-footer-item {
	border-top: solid gray 1px;
}

.mobile-bottom-bar {
	width: 100%;
	height: 3.778rem;
	background: #1779ba;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.mobile-bottom-bar .footer-link {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center;
	color: #0c3e5f;
	text-transform: uppercase;
	font-size: 0.8125rem;
	font-weight: bold;
	padding: 0.907rem 1rem;
}

.mobile-bottom-bar .footer-link i.fa {
	opacity: 0.8;
	margin-right: 0.625rem;
	font-size: 1.5rem;
	vertical-align: middle;
}

.mobile-bottom-bar .footer-link:focus, .mobile-bottom-bar .footer-link:active {
	color: #0c3e5f;
}

.mobile-bottom-bar .footer-text {
	position: relative;
	top: 2px;
	font-weight: bold;
	font-size: 0.875rem;
	color: white;
}

.footer-text {
	position: relative;
	top: 2px;
	font-weight: bold;
	font-size: rem-calc(14);
}

/* font-family: 'Bungee Hairline', cursive; */

/* font-family: 'Julius Sans One', sans-serif; */

/* font-family: 'Orbitron', sans-serif; */